## https://pre-commit.com
# pre-commit install --install-hooks
#
# Run hooks on repo:
# pre-commit run --all-files [hook-id]
#
# Update repos:
# pre-commit autoupdate
---
minimum_pre_commit_version: 2.4.0
default_language_version:
  python: python3
default_stages: [commit]
fail_fast: false
exclude: ^$
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: debug-statements
      - id: requirements-txt-fixer

  - repo: https://github.com/asottile/pyupgrade
    rev: v2.31.0
    hooks:
      - id: pyupgrade
        args: [--py36-plus]

  - repo: https://github.com/ambv/black
    rev: 22.3.0
    hooks:
      - id: black
        language_version: python3
