# This workflow will install Python dependencies, run autocorection quality tests, and speed benchmark 
# with a single version of Python

name: benchmark

on: workflow_dispatch

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.6
      uses: actions/setup-python@v2
      with:
        python-version: 3.6
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install black pytest
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi    
    - name: Autocorrection quality
      run: |
        python test_all.py quality
    - name: Speed benchmark
      run: |
        python test_all.py benchmark
